/*** Main UI ***/
$n900 : #091E42;
$n800 : #172B4D;
$n700 : #42526E;
$n600 : #5E6C84;
$n500 : #8993A4;
$n400 : #B3BAC5;
$n300 : #DFE1E6;
$n200 : #EBECF0;
$n100 : #F4F5F7;
$n50 : #FFFFFF;

$b400 : #0052CC;
$b300 : #0065FF;
$b50  : #DEEBFF;

$y500 : #FF8B00;
$y400 : #FF991F;
$y300 : #FFAB00;
$y200 : #FFEBE6;

$r400 : #DE350B;
$r300 : #b1502e;
$r200 : #FFEBE6;

$g500 : #006644;
$g300 : #36B37E;

$data1 : #4875EC;
