/*************************
    login
***************************/
.login-wrapper {
    background: linear-gradient(
            327.08deg,
            rgba(15, 119, 255, 0) 37.8%,
            rgba(33, 24, 87, 0.2) 60.85%,
            rgba(31, 15, 126, 0.2) 71.32%
        ),
        #4c9aff;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background-color: $n800;
    }
}
.login-content {
    position: relative;
    z-index: 10;
    width: 504px;
    padding: 0px 75px 24px;
    margin-top: 40px;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
}
.login-logo {
    width: 158px;
    margin-right: auto;
    margin-left: auto;
}
.form-item input {
    background: #f4f5f7;
}
.form-item input::placeholder {
    font-weight: 500;
    color: #b3bac5;
}
.login-button {
    width: 100%;
    height: 48px;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 0 8px;
    border: 0;
    outline: none;
}
.login-button[type="submit"] {
    color: #8993a4;
    background-color: #ebecf0;
    text-transform: uppercase;
    transition: all ease 0.3s;
}
.login-button[type="submit"].active,
.login-button[type="submit"]:hover {
    background-color: #0052cc;
    color: white;
}
.login-back {
    margin: 0 -75px 32px;
    padding: 10px 24px;
    background-color: #36b37e;
    & .back-arrow {
        width: 48px;
        height: 48px;
        line-height: 48px;
        border-radius: 50%;
        text-align: center;
        transition: all ease 0.3s;
    }
    & .back-arrow:hover {
        background-color: #57d9a3;
    }
}
.icon-holder {
    & i {
        font-size: 18px;
    }
}
.sync-analytics-data {
    & li {
        margin-bottom: 32px;
        & i {
            font-size: 20px;
            margin-right: 8px;
        }
    }
}
button.analytics {
    background-color: white;
    & img {
        width: 20px;
    }
}
.view-id-tutorial {
    width: 450px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    background-color: white;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    transform: translateX(30px);
    transition: all 0.3s ease;
    & .tutorial-close {
        font-size: 25px;
        cursor: pointer;
    }
}
.view-id-tutorial.open {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.tutorial-instructions {
    counter-reset: item;
    & li {
        counter-increment: item;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        line-height: 24px;
        position: relative;
        margin-bottom: 42px;
        padding-left: 64px;
    }
    & li:before {
        content: counter(item);
        font-size: 26px;
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        background-color: #0052cc;
        color: white;
        border-radius: 50%;
    }
}
